.workers {

  
  background-color: #f5f4fa;
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0 auto;
   
  }
  &__employee {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__employee:not(:last-child) {
    margin-right: 30px;
  }
  &__two-texts {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  &__name {
    margin-bottom: 10px;
    text-align: center;
    color: var(--blackColor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
  }
  

  
}


 
 
  
 



  .icon-box {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    &__margin + &__margin {
      margin-left: 10px;
    }
    &__media {
      display: inline-block;
      border-radius: 50%;
    
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__badge {
      margin: 12px;
      stroke: #afb1b8;
      fill: #afb1b8;
    
      transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
   
    
  &__media:hover,
  &__media:focus 
  {
  
    background-color: #2196f3;
    outline: none;
    
  }
  &__margin {
    width: 44px;
    height: 44px;
  
    border-radius: 50%;
  
  }
  
  &__margin:hover &__badge, .icon-box__media:focus &__badge {
    stroke: #fff;
    fill: #fff;
  }
&__margin:hover &__badge, &__media:focus &__badge {
    stroke: #fff;
    fill: #fff;
  }

&__media:focus {
    fill: var(--blueColor);
    outline-color: var(--blueColor);
    
   
    
  }

  }
 


 

